.span6 #contact_home
{
	text-align: right;
	padding-top: 40px ; 
	font-size: 50px;
	line-height:100%


}
.container
{
	background-color: white;
}
.navbar-inner
{

	font-size:  30px;
}
.span7 ul
{
padding-top: 20px;
	font-size: 30px;
}
.carousel-caption h1
{
	color: white;
}


  
 .myButton {
        
        -moz-box-shadow:inset 0px 0px 0px 0px #a6827e;
        -webkit-box-shadow:inset 0px 0px 0px 0px #a6827e;
        box-shadow:inset 0px 0px 0px 0px #a6827e;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
        background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
        background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
        
        background-color:#7d5d3b;
        
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        
        border:1px solid #54381e;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:19px;
        font-weight:normal;
        padding:10px 42px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #4d3534;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
        background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
        background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
        background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
        background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
        background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
        
        background-color:#634b30;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

